doctype html
html
    head
    meta(charset = 'utf-8', lang="ru")
    link(href='../public/img/favicon.ico')
    style
        include ../public/style/card.scss
        include ../node_modules/jquery-toast-plugin/src/jquery.toast.css 
    title 585 Золотой
    body
        .wrapper
            form(action="/push" method='POST' enctype="application/x-www-form-urlencoded" )
                div.push Отправить push-уведомление
                textarea(name="text" class="formArea" placeholder="Ваше сообщение" maxlength="50")
                button(type='submit' class="btnSend") Отправить push-уведомление
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js")
        script 
            include ../node_modules/jquery-toast-plugin/src/jquery.toast.js
        script
            include ../public/js/app.js
  



        