body {
    margin: 0;
}

.btn {
    text-decoration: none;
    user-select: none;
    outline: none;
}

.btn:hover {
    background: rgb(243, 119, 119);
}

.dlt {
    width: 100%;
    height: 100%;
}

.add {
    text-decoration: none;
    user-select: none;
    outline: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.add:hover {
    background: rgb(119, 243, 156);
}

.header {
    margin: 0;
    position: relative;
    width: 100%;
    height: 60px;
    left: 0px;
    /* top: 20px; */
    background: #769DD8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form div {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-left: 10px;
    margin-right: 10px;
}

.form input {
    height: 3%;
    font-size: 18px;
}

.form button {
    margin-left: 10px;
    width: 170px;
    background: #9FBAE4;
    height: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #4B4B4B;
}

.leftMenu {
    position: relative;
    display: flex;
    width: 200px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-left: 166px;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    float: left;
}

.bach,
.master {
    text-align: center;
}

.status {
    margin-top: 10px;
    margin-bottom: 10px;
}

.separator {
    border: 1px solid #666666;
    width: 70%;
    /* height: 1px; */
    margin-top: 10px;
    margin-bottom: 10px;
}

.bach button,
.master button,
.all button {
    width: 160px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
}

.bach button:hover,
.master button:hover,
.all button:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #9FBAE4;
    color: #FFFFFF;
}

.all {
    padding-bottom: 10px;
}

.choose {
    height: 30px;
    width: 200px;
    text-align: center;
    margin-bottom: 4px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.box {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #769DD8;
}

.content {
    position: relative;
    display: flex;
    background: #769DD8;
    border-radius: 2px;
    width: 60%;
    margin: 10px 260px 0px 14px;
}

.wrapper {
    display: flex;
    width: 100%;
    height: 90vh;
}

.tab {
    overflow: scroll;
    height: 800px;
}

.table {
    min-width: 310px;
    width: auto;
    background-color: #fff;
    margin: 50px 15px auto 35px;
    border-spacing: 0px 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

tr {
    text-align: center;
}

tr:nth-child(2n) {
    background: rgba(118, 157, 216, 0.5);
}

.trHead {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

td {
    width: 50%;
    background: rgba(118, 157, 216, 0.5);
    padding: 10px;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: all 300ms ease;
    box-shadow: 0px 4px 10px 2px rgba(black, 0.2);
}

td button {
    width: 100%;
}

.septd {
    border: 1px solid #000000;
    position: relative;
    transform: rotate(90deg);
    width: 10px;
}

.sendMessage {
    width: 392px;
    background-color: #fff;
    margin: 50px 35px 450px 40px;
    position: relative;
    height: 320px;
    display: flex;
    justify-content: center;
}

#telegramForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.smGroup {
    height: 20px;
    width: 100%;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 15px;
}

.smInput,
.smArea {
    height: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #282828;
    width: 80%;
}

.smArea {
    min-height: 150px;
    margin-top: 20px;
    max-height: 150px;
    max-width: 80%;
    min-width: 80%;
}

.btnSend {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    height: 32px;
    background: #769DD8;
    border-radius: 2px;
    width: 80%;
    text-align: center;
    justify-content: center;
}

.btnSend:hover {
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    background: #b1d5fd;
    border: 1px solid #769DD8;
    color: #666666;
}

a:link {
    text-decoration: none;
    color: #666666;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

.sendMessage {
    width: 60%;
}